<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frizeraj</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- <script src="../index.js"></script> -->

</head>
<body>
    <div>
        <h1 class="promo-title1">Frizeraj</h1>
    </div>
    <div class="background-container"></div>

    <div class = "row">
        <label>Zakažite termin</label>              
        <input type = "date" class = "datepicker" />  
        <button class="btn waves-effect waves-teal" onclick="GetDate()" data-toggle="modal" data-target="#exampleModal">Rezerviši datum</button>  

        <h5>Rezervisani termini: </h3>
        <ul id="listaDatuma"></ul>   
        <ul id="listaVremena"></ul>
    </div>  
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="/test" enctype="multipart/form-data">
              <div class="form-group">
                <label for="recipient-name"  class="col-form-label">Ime Klijenta:</label>
                <input type="text" name="imeKlijenta" class="form-control" id="imeKlijenta">
              </div>

              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Cena:</label>
                <input type="text" name="cena" class="form-control" id="cena">
              </div>

              <div class="form-group">
                <label for="dan" class="col-form-label">Dan:</label>
                <select name="dan" class="form-control" id="dan">                                  
                  <option value="ponedeljak">Ponedeljak</option>    
                  <option value="utorak">Utorak</option>
                  <option value="sreda">Sreda</option>
                  <option value="cetvrtak">Cetvrtak</option>
                  <option value="petak">Petak</option>                               
                </select>
              </div>

              <div class="modal-body">
                <select name="zaposleni" class="form-control" id="zaposleni">
                    <% for(i = 0 ; i < zaposleni.length ; i++) { %> 
                        <option data-value='{"od":"<%= zaposleni[i].odRadnoVreme %>","do":"<%= zaposleni[i].doRadnoVreme %>"}'>
                        <%= i+1 %>.
                        <%= zaposleni[i].imeZaposlenog %> - radi <%= zaposleni[i].odRadnoVreme %> - <%= zaposleni[i].doRadnoVreme %> 
                        </option>
                        <% } %>
                    </select>
            </div>

              <!-- <div class="form-group">
                <label for="recipient-name" class="col-form-label">Vreme:</label>
                <input type="text" name="vreme" class="form-control" id="vreme">
              </div> -->

              <div class="form-group">
                <label for="dan" class="col-form-label">Vreme:</label>
                <select name="vreme" class="form-control" id="vreme">                                  
                  <% for(i = 0 ; i < radnovreme.length ; i++) { %> 
                    <option >
                      <%= radnovreme[i].pocetak %> - <%= radnovreme[i].kraj %> 
                    </option>
                    <% } %>            
                </select>
              </div>

              <div class="form-group">
                <label for="message-text" class="col-form-label">Opis:</label>
                <textarea class="form-control" name="opis" id="opis"></textarea>
              </div>

              

              <div style="visibility: hidden;" class="form-group">
                <input type="text" name="datum" class="form-control" id="datum">
              </div>

             

              <button type="submit" class="btn btn-primary" onclick="Snimi()" >Snimi</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>
         
    <script>
        var datum;
        var imeKlijenta;
        var cena;
        var vreme;
        var opis;
        var imeZaposlenog;

        function GetDate(){
            datum = $('.datepicker').val().split("-").reverse().join("-");
            // $("#listaDatuma").append("<li>" + datum + "</li>");
            $("#datum").val(datum);
        }  

        $('#exampleModal').on('show.bs.modal', function (event) {
            var modal = $(this) 
            modal.find('.modal-title').text('Datum ' + datum)
        })   

        function Snimi(){
            var modal = $('#exampleModal')
            imeKlijenta = modal.find('#imeKlijenta').val()
            cena = modal.find('#cena').val()
            vreme = modal.find('#vreme').val()
            opis = modal.find('#opis').val()
            imeZaposlenog = modal.find('#zaposleni').find(":selected").val();

            // zaposleniOd = modal.find('#zaposleni').find(":selected").data("value").od;
            // zaposleniDo = modal.find('#zaposleni').find(":selected").data("value").do;

            console.log(imeZaposlenog);
            
            // if(zaposleniOd < vreme || zaposleniDo > vreme){
            //   alert("Zakazianje je moguce samo u radnom vremenu")
            //   return;
            // }
            // $("#listaVremena").append("<li>" + vreme + "h, "+ datum + "</li>");

            $('#close').click();
        }   
    </script>

</body>
</html>